@media only screen
  and (max-device-width:500px) {
  @-ms-viewport{
    width: 375px;
    height: 812px;
  }
  .form-control {

    width:860px!important;
    height: 80px!important;
    font-size: 50px!important;
}
  .input-group {
    margin-left: 35px!important;
  }
  h1 {
    text-align: center;
    font-witght: bold;
    font-size: 90px;
    padding: 50px 20px 50px 20px;

  }
  #sizing-addon1{
    height:80px;
  }
  nav {
    margin-top: 20px;
    margin-left: 60px;
  }

  .tableWrapper {
    max-height: 500px;
    overflow: auto;
  }

  #loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .formWrapper {
    border-radius: 5px;
    background-color: #e5f2ff;
    padding-left: 60px;
    padding-right: 60px;
  }

  .angular-google-map-container {
    height: 500px;
  }
  .table{
    margin-left: 35px!important;
    width: 900px;
    font-size: 50px;
  }
  .scroll-table{
    height: 1000px;
    overflow:scroll;
  }
  .body{
   witdth: 400px;
  }
  canvas,wave{
    height:300px!important;
  }
}