<img id="loader" ng-show="loading" src="/../../img/484.gif">
<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-11">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div class="jumbotron">
  <div>


  </div>
      <div ng-show="listing">
        <h1> <span class="glyphicon glyphicon-map-marker"></span>  {{listing.name}}</h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

      <img width="1000" src="/../../img/giphy.gif">

  </div>
</div>